<?xml version="1.0"?>
<launch>

    <include file="$(find exprob_ass3)/launch/gmapping.launch"/>
    <include file="$(find exprob_ass3)/launch/move_base.launch"/>

    <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>
    <node name="final_oracle" pkg="exprob_ass3" type="final_oracle"/>
    <node name="move_arm" pkg="exprob_ass3" type="move_arm"/>
            
</launch>
